html,
body,
article,
section,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  background-color: #1e1e1e;
}
.grid-container {
  width: min-content;
  margin: 50px auto 0px auto;
  position: relative;
}
.grid {
  box-shadow: 0px 0px 5px 30px #323232;
  border-radius: 30px;
  width: min-content;
  height: min-content;
  overflow: hidden;
  margin-bottom: 40px;
}
.grid-row {
  width: max-content;
  margin-bottom: 1px;
}
.square {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
  height: calc(5.6vh);
  width: calc(5.6vh);
  background-color: black;
  transition: background 0.5s ease-out;
}
.bg-red {
  background-color: red;
}
.square-blue {
  background-color: blue;
}
.btn-reset {
  margin: 50px auto;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: 50px;
  font-weight: 900;
  cursor: pointer;
}
.transition-bgc--fast {
  transition: background 0.4s ease-in;
  transition: background 1.5s ease-in;
}
.modal {
  display: block;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 0;
  top: 25px;
  border-radius: 30px;
  overflow: hidden;
}
.modal-transition {
  height: calc(100% - 25px);
  transition: height 1.5s ease-in-out;
}
.modal-content {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 auto;
}
.container-btn-size {
  margin: 0 auto;
  width: 54%;
  height: 54%;
  padding-top: 42%;
  transition: all 0s;
}
.btn-size1,
.btn-size2,
.btn-size3 {
  width: 80px;
  height: 80px;
  background-color: white;
  color: white;
  display: inline-block;
  border-radius: 50%;
  color: #aaa;
  text-align: center;
  cursor: pointer;
  background: radial-gradient(white, #ddd);
}
.btn-size::before {
  content: '10x10';
  display: block;
  width: 90%;
  height: 90%;
  background-color: #f1f1f1;
  border-radius: 50%;
  position: relative;
  top: 5%;
  left: 5%;
  color: #d2d0d0;
  line-height: 1rem;
  padding-top: 36%;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.btn-size {
  background: radial-gradient(at 0% 0%, #e3e2e2 60%, #fff8f8);
  width: 29.33%;
  height: 29.33%;
  margin: 0% 2%;
}
.btn-size::before {
  background: radial-gradient(at 0% 0%, white, #f7f7f7 70%, #d2d0d0);
}
.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 1px 3px #323232;
  background: radial-gradient(circle at 7px 7px, #272727, #303030, #323232);
  cursor: pointer;
  position: relative;
  left: -100px;
  top: 0px;
}
.circle:active {
  box-shadow: 0px 0px 1px 3px #303030;
  background: radial-gradient(circle at 7px 7px, #202020, #303030, #323232);
}
